<footer>	
	<div class="container-fluid padding bg-info text-white">
		<div class="row text-center">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				{{!-- <img src="images/logoVAA.png" class="logoVAA-1"> --}}
				<hr class="light">
				<p>Phone: </p>
				<p>Email: </p>
				<p>TPHCM</p>
				<p>Address: </p>
			</div>
			<div class="col-md-4"></div>
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; </h5>
			</div>
		</div>
	</div>
</footer>