<header >
	<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top ">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarResponsive">	
					{{!-- <a class="navbar-brand mr-3" href="home"><img src="images/logoVAA.png" class="logoVAA" ></a> --}}
					<ul class="navbar-nav padding-header">
						<li class="nav-item my-auto ml-2 active">
							<a href="home" class="nav-link">
								<p class="badge badge-primary text-wrap" style="font-size:30px;">HOME</p>
							</a>
						</li>
						<li class="nav-item ml-2"> 
							<a href="control" class="nav-link" style="font-size:30px;">
								<p class="badge badge-secondary text-wrap">CONTROL</p>	
							</a>
						</li>
						<li class="nav-item ml-2"> 
							<a href="about" class="nav-link" style="font-size:30px;">
								<p class="badge badge-secondary text-wrap">ABOUT US</p>	
							</a>
						</li>
					</ul>
				</div>			
		</nav>
</header>